<div class="landing">
    <div class="intro">
        <div class="stamp is-draft">
            FLAG QUIZ
        </div>
        <br>
        <p>
            How well do you know flags and country locations?
        </p>
    </div>
    <div class="categories">
        <div>
            <button mat-raised-button (click)="start()">
                START
            </button>
        </div>

    </div>
    <div class="help">
        <p>
            <span><strong>How to play:</strong></span><br>Select a country on the map and press GUESS
        </p>
    </div>
    <div class="attribution">
        <p>
            <a href="https://github.com/baffioso/flag-quiz" target="_blank" rel="noopener noreferrer">Github</a>
        </p>
    </div>
</div>