<app-landing *ngIf="showLanding" (startQuiz)="startQuiz()"></app-landing>
<app-loading *ngIf="showLoading" [data]="loadingData"></app-loading>
<button mat-icon-button class="back" *ngIf="!showLanding" (click)="playAgain()">
    <mat-icon>chevron_left</mat-icon>
</button>
<div *ngIf="showQuestion" class="question">
    <p class="count">{{index+1}}/{{questionNum}}</p>
    <div *ngIf="index < questionNum">
        <img src="assets/flags/{{currentCountry}}.png" alt="country" />
    </div>
</div>
<app-result *ngIf="showResult" [result]="currentResult"></app-result>
<div *ngIf="!showLanding && !showLoading && !showSummery" class="btn">
    <p *ngIf="!selectedCounty">Click on map to select a country</p>
    <button *ngIf="index < questionNum && selectedCounty" mat-raised-button (click)="onClick()">
        <h2>guess</h2>
    </button>
    <button *ngIf="index >= questionNum" mat-raised-button (click)="handleSummery()">
        <h2>Result</h2>
    </button>
</div>
<app-summery *ngIf="showSummery" (replay)="playAgain()" [score]="score">
</app-summery>
<app-map></app-map>